@import "theme.css";
@import "components/button.css";
@import "components/dialog.css";
@import "components/input.css";
@import "components/navigation.css";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr;
  font-family: Inter, sans-serif;
}

nav {
  z-index: 100;
}

main {
  overflow-y: auto;
  animation: transition 500ms;
}

.disclaimer {
  padding: 1.5rem 1rem;
}

.disclaimer .title {
  margin: 0;
  text-align: center;
}

.disclaimer .actions {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

@keyframes transition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
