.navigation-gutter {
  height: 100px;
}

.surface {
  border-radius: 8px;
  box-shadow: 0 7px 29px 0 rgba(100, 100, 111, 0.2);
}

.container {
  width: 90%;
  margin: {
    left: auto;
    right: auto
  };
}

.sections {
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow: hidden scroll;

  section {
    height: 100vh;
    background-size: cover;
    background-position: center;
    scroll-snap-align: start;

    .content {
      width: 90%;
      height: 80%;
      margin: {
        left: auto;
        right: auto;
      }
    }
  }
}

.button {
  @extend .surface;

  width: 100%;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: black;
  background: white;
  border: none;
  transition: all 250ms;

  &.primary {
    color: white;
    background: black;
  }

  &:hover {
    cursor: pointer;
    scale: 1.05;
  }

  &:active {
    scale: 1;
  }
}

.input {
  @extend .surface;

  width: 100%;
  padding: 0.2rem 1rem;
  line-height: 1.8rem;
  border: none;
}

.select {
  @extend .surface;

  width: 100%;
  height: 2rem;
  padding: 0.4rem 0;
  text-align: center;
  appearance: none;
  border: none;
}

i.lni {
  font-size: 1.35rem;
}