@import "@/styles/common.scss";

.home {
  @extend .surface;

  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    font-size: 4rem;
    font-weight: bold;
  }

  .socials {
    display: flex;
    margin-top: 3rem;
    gap: 2rem;

    a {
      color: inherit;
      scale: 1.4;
      text-decoration: none;
      transition: all 250ms;
    }

    a:hover {
      scale: 2;
    }

    a:active {
      scale: 1.4;
    }
  }

  .images > * {
    position: absolute;
    bottom: 0;
  }
}