nav {
  min-height: 40px;
  display: grid;
  grid-template-columns: 1fr auto;
  color: white;
  background-color: #333;
  overflow: hidden;
}

nav a {
  padding: 1rem 2rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  text-decoration: inherit;
}

nav .title {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

nav .links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav .links a {
  width: 100%;
  text-align: center;
  transition: all 250ms;
}

nav .links a.active {
  background-color: var(--primary-100);
}

nav .links a:hover {
  color: black;
  background-color: #ddd;
}

nav .toggle {
  padding: 0 1rem;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 576px) {
  nav {
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
  }

  nav .links {
    margin-bottom: 1rem;
    display: none;
    grid-column: span 2;
    flex-direction: column;
  }

  nav .links.active {
    display: flex;
  }

  nav .toggle {
    display: flex;
  }
}
