@import "@/styles/common.scss";

.navigation-container {
  display: flex;
  position: absolute;
  width: 100vw;
  left: 0;
  top: 0;
  justify-content: center;
}

.navigation {
  @extend .surface;

  display: flex;
  width: 90%;
  margin: 16px 0;
  padding: 16px 32px;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .items {
    display: flex;
    gap: 0.5rem;
  }

  .items > a {
    color: inherit;
    text-decoration: none;
    transition: all 250ms;
  }

  .items > a:hover {
    scale: 1.05;
  }

  .items > a:active {
    scale: 1;
  }
}