.navigation {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 100;
}

.navigation nav {
  display: flex;
  width: 80%;
  margin: 16px auto;
  padding: 0 32px;
  justify-content: space-between;
}

.navigation nav .items {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navigation nav .items > a {
  color: inherit;
  text-decoration: none;
  transition: all 250ms;
}

.navigation nav .items > a:hover {
  scale: 1.1;
}