@import "@/styles/common.scss";

.container {
  display: flex;
  width: 90%;
  margin: {
    left: auto;
    right: auto;
  }
  gap: 0.5rem;

  .left {
    min-width: 20%;
  }

  .right {
    flex-grow: 1;
  }
}

.filters {
  @extend .surface;

  padding: 1rem;

  section + section {
    margin-top: 0.5rem;
  }
}

.search {
  display: flex;
  margin-bottom: 0.5rem;

  .filter-button {
    @extend .button; /* inherits style from the button class in common.scss */

    width: 4rem;
    margin-right: 0.5rem;
  }
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  .item {
    @extend .surface; /* inherits style from the surface class in common.scss */

    max-width: 20%;
    position: relative;
    flex: 1 0 15%;
    aspect-ratio: 1 / 1;
    border: 1px solid black;
    overflow: hidden;
    transition: all 250ms;

    img {
      width: 100%;
    }

    .price {
      position: absolute;
      right: 8px;
      bottom: 8px;
      z-index: 10;
      padding: 2px 4px;
      color: white;
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 4px;
    }

    &:hover {
      cursor: pointer;
      scale: 1.05;
    }

    &:active {
      scale: 1;
    }
  }
}