main {
  display: grid;
  grid-template-columns: 1fr auto;
}

.items {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.items .empty {
  font-size: 1.2rem;
  text-align: center;
}

.item {
  height: 150px;
  display: grid;
  grid-template-columns: 150px 1fr auto;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.item .image {
  width: 100%;
  height: 100%;
}

.item .info {
  padding: 1rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.item .info .title {
  margin-bottom: 0.5rem;
  color: inherit;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
}

.item .info .actions {
  display: flex;
  gap: 0.5rem;
}

.item .price {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.details {
  padding: 1rem;
  border: var(--border);
  box-shadow: var(--high-shadow);
}

.details .title {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
}

.details .summary {
  margin: 1rem 0;
}

.details .category {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.details .category .name {
  font-weight: bold;
}

.details .category .value {
  text-align: right;
}

.details .actions {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }

  .item {
    min-width: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: auto;
  }

  .item .price {
    margin-right: 0;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .item .title {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .item .subtitle {
    text-align: center;
  }

  .item .actions {
    margin-top: 0.5rem;
    justify-content: center;
  }
}
