main {
  padding: 1rem;
  display: grid;
  place-items: center;
}

.message {
  text-align: center;
}

.message .title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.message .summary {
  margin: 1rem auto;
  padding: 1rem 0;
  border: var(--border);
  border-radius: var(--container-radius);
}

.message .actions {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.summary .detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.summary .detail .label {
  font-weight: bold;
}
