main {
  scroll-snap-type: y mandatory;
}

section {
  height: 100%;
  position: relative;
  scroll-snap-align: start;
}

section > img,
section > video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

section > .content {
  width: 100%;
  height: 100%;
  position: absolute;
}

.intro {
  display: grid;
  place-items: center;
}

.intro .logo {
  margin: auto auto;
  width: 300px;
  display: block;
}

.intro .tagline {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: white;
}

@media (max-width: 768px) {
  .intro .logo {
    width: 200px;
  }

  .intro .tagline {
    font-size: 2rem;
  }
}
