main {
  display: grid;
  grid-template-columns: auto 1fr;
}

.preview {
  aspect-ratio: 1 / 1;
  display: flex;
  overflow: hidden;
}

.preview img {
  width: 100%;
  height: 100%;
  flex: 0 0 100%;
  object-fit: contain;
}

.details {
  padding: 1rem 1.5rem;
  border: var(--border);
  box-shadow: var(--high-shadow);
}

.details .name {
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.details .price {
  font-size: small;
  margin-bottom: 0.5rem;
}

.details .description {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.colors {
  display: flex;
  gap: 0.5rem;
}
.sizes {
  display: flex;
  gap: 0.5rem;
}

.option {
  padding: 0.2rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
  border: var(--border);
  border-radius: var(--component-radius);
  box-shadow: var(--low-shadow);
  cursor: pointer;
  transition: all 250ms;
}

.option:has(> input:checked) {
  color: white;
  background-color: black;
}

.option input {
  height: 0;
  width: 0;
  position: absolute;
}

@media (max-width: 768px) {
  main {
    grid-template-columns: auto;
    grid-template-rows: max-content 1fr;
  }
}
