main {
  padding: 1rem 0;
}

.content {
  margin: 0 auto;
  width: 70%;
}

.table {
  margin: 0 auto;
  overflow-x: auto;
}

table {
  margin: 0 auto;
  overflow-x: auto;
}

table th,
table td {
  padding: 0.5rem;
}

table th {
  color: white;
  background-color: #333;
}

table td {
  background-color: #ccc;
}

@media (max-width: 768px) {
  .content {
    width: 90%;
  }
}
