main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.items {
    display: flex;
    flex-direction: column;
}

.item {
    height: 100px;
    display: grid;
    grid-template-columns: 100px 1fr;
}

.item img {
    width: 100%;
    height: 100%;
}